<div class="shadow border p-4">
  @if(editUserId){
    <h2 class="text-xl font-semibold">Update User</h2>
  }
  @else{
    <h2 class="text-xl font-semibold">Add User</h2>
  }

  <form [formGroup]="userForm">
    <div class="flex flex-wrap"></div>

    <form class="example-form">
      <mat-form-field class="w-full">
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name"/>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"/>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Age</mat-label>
        <input type="number" matInput formControlName="age"/>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Address</mat-label>
        <input type="text" matInput formControlName="address"/>
      </mat-form-field>
      <mat-form-field class="w-full">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password"/>
      </mat-form-field>
      <div class="flex justify-center">
        @if(editUserId){
          <button color="primary" mat-raised-button (click)="updateUser()">Update</button>
        }
        @else{
          <button color="primary" mat-raised-button (click)="addUser()">Add</button>
        }

      </div>

    </form>


  </form>

</div>
